{% extends 'blood/header.html' %}

{% block title %}
    Make Blood Request
{% endblock title %}

{% block content %}
    <div id="wrapper">
        {% include 'patient/nav.html' %}
		{% include 'blood/aside.html' %}

        <div id="page-wrapper">
            <div class="header"> 
                <h1 class="page-header">
                   Make Request 
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{% url 'patient:index' %}">Home</a></li>
                    <li class="active">Make Request</li>
                </ol> 
                            
            </div>

            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-content">
                                {% include blood/messages2.html %}
                                <form method="POST">
                                    {% csrf_token %}
                                    {% for field in form %}
                                    <div class="form-group">
                                        {{ field.label|title }}
                                        {{field}}
                                    </div>
                                    {% endfor %}
                                    <button type="submit" class="btn btn-primary">SUBMIT</button>
                                 </form>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>

        </div>
    </div>
		{% include 'blood/js_scripts.html' %}
{% endblock content %}



