{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title> 
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'assets/materialize/css/materialize.min.css' %} " media="screen,projection" />
    <!-- Bootstrap Styles-->
    {% comment %} <link href="{% static 'assets/css/bootstrap.css' %} " rel="stylesheet" /> {% endcomment %}
    <link href="{% static 'assets/css/bootstrap.min.css' %} " rel="stylesheet" />

    {% comment %} <link href="{% static 'assets/js/morris/morris-0.4.3.min.css' %} " rel="stylesheet" /> {% endcomment %}
    <!-- Custom Styles-->
    <link href="{% static 'assets/css/custom-styles.css' %} " rel="stylesheet" />
 
    <link rel="stylesheet" href="{% static 'assets/fonts/boxicons.css' %}"> 

    
</head>
<body>
    {% block content %}
        {% include 'blood/messages.html' %}
    
    {% endblock content %}
</body>
</html>