{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title> 
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'assets/materialize/css/materialize.min.css' %} " media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="{% static 'assets/css/bootstrap.min.css' %} " rel="stylesheet" />

    <!-- Custom Styles-->
    <link href="{% static 'assets/css/custom-styles.css' %} " rel="stylesheet" />
 
    <link rel="stylesheet" href="{% static 'assets/fonts/boxicons.css' %}"> 

    {% block styles %}
      
    {% endblock styles %}

    
</head>
<body style=" background: url('/static/img/bg.jpg') 50% 0 no-repeat fixed;">
    {% block content %}
        {% include 'blood/messages.html' %}
    
    {% endblock content %}
</body>
</html>