
  <div class="bs-example" style="margin: 0px;">
    <nav style="background-color: #FF0018;" class="navbar navbar-expand-md navbar-dark fixed-top">
      <a href="/" style="font-size: 20px"><i class="bx bxs-  bx-sm"></i>&nbsp; Blood Bank Management</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="{% url 'accts:login' %}"><i class="bx bxs-user"></i>&nbsp; Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="color: white;" href="{% url 'accts:sign_up' %}"><i class="bx bxs-user-plus bx-sm"></i>&nbsp; Register</a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="#"><i class="bx bxs-info-circle"></i>&nbsp; About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="#"><i class="bx bxs-contact"></i>&nbsp; Contact Us</a>
                </li>   
            </ul>
        </div>

      </div>
    </nav>
  </div>
