{% extends 'blood/header.html' %}
{% load static %}
{% block title %}
    Donations
{% endblock title %}
{% block head %}

    <link href="{% static 'assets/css/bootstrap.css' %} " rel="stylesheet" />
{% endblock head %}

{% block content %}
{% include 'admin/nav.html' %}
<div id="wrapper">
		{% include 'admin/aside.html' %}
        
            <div id="page-wrapper">
                <div class="header">	 
                    <h1 class="page-header">
                        Donations
                    </h1>
                <ol class="breadcrumb">
                    <li><a href="{% url 'admin_page:index' %}">Home</a></li>
                    <li><a href="{% url 'admin_page:donors' %}">Donors</a></li>
                    <li class="active">Donations</li>
                </ol> 
                                
            </div>

            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-content">
                                {% include 'blood/messages2.html' %}
                                
                            {% if object_list %}
                                <table class="table table-bordered table-striped centered">
                                    <tr>
                                        <th>Donor</th>
                                        <th>Bloodgroup</th>
                                        <th>Pint Donated</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                    {% for donation in object_list %}
                                        <tr>
                                            <td> <a href="">{{donation.donor.user.first_name|title}} {{donation.donor.user.last_name|title}}</a>  </td>
                                            <td> {{donation.blood_group}} </td>
                                            <td> {{donation.pint_amount}} </td>
                                            <td> {{donation.status}} </td>   
                                        </tr>
                                    {% endfor %}
                                </table>            
                            {% else %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h4 class="">NO DONATION HAS BEEN APPROVED</h4>
                                    </div>
                                </div>
                            {% endif %}
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
            
        </div>
    </div>
		{% include 'blood/js_scripts.html' %}
{% endblock content %}



