{% extends 'blood/header.html' %}

{% block title %}
    Donate History
{% endblock title %}

{% block content %}
    <div id="wrapper">
        {% include 'donor/nav.html' %}
		{% include 'blood/aside.html' %}
        
            <div id="page-wrapper" style=" background: url('/static/img/bg.jpg') 50% 0 no-repeat fixed;">
                <div class="header">	 
                    <h1 class="page-header">
                        My Donations
                    </h1>
                <ol class="breadcrumb">
                    <li><a href="{% url 'donor:index' %}">Home</a></li>
                    {% comment %} <li><a href="{% url 'donor:donate_blood' %}">Make Donation</a></li> {% endcomment %}
                    <li class="active">My Donation Requests</li>
                </ol> 
                                
            </div>

            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-content">
                                <h4 class="text-warning">The table below is a list of donation requests you've made including your blood test details</h4>
                                <br><br>
                                
                                <span class="h5 text-danger mb-4">Note: Endeavour not to miss your test date, as you will be rescheduled if you miss</span>
                                <br><br>

                                {% if donations %}
                                    <table class="table table-bordered" style="padding: 100px;">
                                        <tr>
                                            <th>Test Date</th>
                                            <th>Bloodgroup</th>
                                            <th>Pint Donated</th>
                                            <th>Status</th>
                                            <th>Reason</th>
                                        </tr>
                                        {% for don in donations %}
                                            <tr>
                                                <td> {{don.test_date}} </td>
                                                <td> {{don.blood_group}} </td>
                                                <td> {{don.pint_amount}} </td>
                                                <td> {{don.status}} </td>
                                                <td> {{don.reason}} </td>
                                            </tr>     
                                        {% endfor %}
                                    </table>
                                {% else %}
                                    <h4>YOU HAVE NOT MADE ANY DONATIONS</h4>
                                {% endif %}
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
            
        </div>
    </div>
		{% include 'blood/js_scripts.html' %}
{% endblock content %}



